<div id="footer" class="panel">
  <div class="panel-footer">
    <div class="container-fluid">
      <div class="row">
	<div class="col-sm-4">

	  <p>&copy 2024 Brielin C Brown. Site made by forking <a href="https://github.com/mpa139/allanlab"></a>Allan Lab</p>
	  <p>We are a new research group housed in the <a href="https://www.dbei.med.upenn.edu/informatics">Division of Informatics</a>, <a href="https://www.dbei.med.upenn.edu/">Deparment of Biostatistics, Epidemiology and Informatics</a> at the <a href="https://www.upenn.edu/">Univerisity of Pennsylvania</a> <a href="https://www.med.upenn.edu/"> Perelman School of Medicine </a></p>
	</div>

	<div class="col-sm-4">
	  Contact:<br />
	  421 Blockley Hall <br />
	  423 Guardian Drive<br />
	  Philadelphia, PA 19104-6021<br />
	  United States <br />
	  brielin DOT brown AT pennmedicine DOT upenn DOT edu <br />
	</div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
